[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=emitor
WorkingDirectory=/home/emitor/sites/DOMAIN
EnvironmentFile=/home/emitor/sites/DOMAIN/.env


ExecStart=/home/emitor/sites/DOMAIN/virtualenv/bin/gunicorn \
    --bind unix:/tmp/DOMAIN.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target
